<!--div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Home</span>
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" id="search">
          <label class="mdl-textfield__label" for="search">Enter your query...</label>
        </div>
      </div>
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
        <i class="material-icons">more_vert</i>
      </button>
      <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
        <li class="mdl-menu__item">About</li>
        <li class="mdl-menu__item">Contact</li>
        <li class="mdl-menu__item">Legal information</li>
      </ul>
    </div>
  </header>
  <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
    <header class="demo-drawer-header">
      <img src="../assets/img/user.jpg" class="demo-avatar">
      <div class="demo-avatar-dropdown">
        <span>Hari </span>
      </div>
    </header>
    <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
      <a class="mdl-navigation__link" routerLink="getuser" routerLinkActive="active"> <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">inbox</i>List User</a>
      <a class="mdl-navigation__link" routerLink="removeuser" routerLinkActive="active"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete</i>Remove user</a>
      <a class="mdl-navigation__link" routerLink="adduser" routerLinkActive="active"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">local_offer</i>Add User</a>
      <div class="mdl-layout-spacer"></div>
    </nav>
  </div>
  <main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-grid demo-content">

      <router-outlet></router-outlet>

    </div>
  </main>
</div-->

<div class="row columns">
  <button (click)="login()" *ngIf="!(user | async)?.uid">Anonymous Login</button>
  <button (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>

  <input type="text" id="message" *ngIf="(user | async)?.uid" placeholder="What is it that you do?" (keyup.enter)="Send($event.target.value)" [(ngModel)]="msgVal" />
  <div id="details-container">
    <p *ngFor="let item of items | async"><img src="">{{item.message}}</p>
  </div>
</div>
<button (click)="getall()" >getall</button>
{{itemsuser}}
