<h6 align="center">All user</h6>
<ul class="heroes" >
  <li *ngFor="let emp of employees" (click)="onSelect(emp)"
      [class.selected]="emp ===  selected">
    <span class="badge">{{emp.id}}</span>
    <span>{{emp.name}}</span>
    <span>{{emp.age}}</span>
    <button class="delete" (click)="delete(emp.name); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selected">
  <h2>
    {{selected}} is my favourite
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
<div *ngIf="getone">
   id:{{getone.id}}
   <hr/>
   name:{{getone.name}}
  <hr/>
   age:{{getone.age}}
</div>